.red{
    background-color: red;
    grid-area: a;
  grid-column: 1/3; 
   gap: 0.5em;
   min-width: 300px;
   border:10px 0 0 10px;
    
}
.container{
    padding: 40px 32px;
    display: grid;
    gap: 1em;
    width: 100%;
    height: 100%;
   }
   *{
       margin: 0;
       padding: 0;
   }
   body{
       background-color:black;
       display: flex;
       place-items: center;
       height: 100vh;
       padding: 40px 32px;
   }
   .yellow{
       background-color: yellow;
       grid-area: b; 
      flex-direction: row;
      min-width: 70px
       
       
   }
   main{
       display: grid;
       padding: 40px 32px;
       grid-template-areas:
       'a a b'
       'c d d'
       'c e e'
        ;
       gap: 0.5rem;
       
       height: 100%;
       width: 400px;
       margin: 10%;
       border-top: 30px;
      grid-template-columns: repeat(4,1fr);
      grid-auto-rows: minmax(100px,auto);
    
   }
   .green{
     background-color: green;
     grid-area: c;
     grid-column: 1/2;
     min-width: 200px;
   }
   .blue{
      background-color: blue;
      grid-area: d;
      display: grid;
      grid-template-columns: 1fr;
      grid-auto-rows: minmax(50px,auto);
      gap: 0.5rem;
      grid-column: 2/5;
    
   }
   .brown{
    background-color:brown;
    grid-area: e;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(50px,auto);
    gap: 0.5rem;
    grid-column: 2/5;
   }
   main div{
       padding: 30px;

   }
   